<form autocomplete="off" #createEstimateModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "Create Estimate" | localize }}</h1>
    <mat-dialog-content>
        <div class="panel panel-default">
            <div class="panel-heading">Client information</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="firstName" [placeholder]="'First Name' | localize" required
                                [(ngModel)]="estimateInput.firstname" maxlength="20" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="lastName" [placeholder]="'Last Name' | localize" required [(ngModel)]="estimateInput.lastName"
                                maxlength="20" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="mobile" [placeholder]="'Mobile' | localize" required [(ngModel)]="estimateInput.mobile"
                                maxlength="10" (keypress)="keyPress($event)" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="email" [placeholder]="'Email' | localize" [(ngModel)]="estimateInput.email"
                                maxlength="50" email />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput name="addressLine1" [placeholder]="'Address line1' | localize" [(ngModel)]="estimateInput.addressLine1"
                                maxlength="100" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput name="addressLine2" [placeholder]="'Address line2' | localize" [(ngModel)]="estimateInput.addressLine2"
                                maxlength="100" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput name="city" [placeholder]="'City' | localize" [(ngModel)]="estimateInput.city"
                                maxlength="25" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-select [placeholder]="l('State')" name="state" [(ngModel)]="estimateInput.stateId">
                                <mat-option value="">{{ '- State -' | localize }}</mat-option>
                                <mat-option *ngFor="let state of states" [(value)]="state.stateId">{{state.stateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput name="code" [placeholder]="'Code' | localize" [(ngModel)]="estimateInput.zipCode"
                                maxlength="10" />
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Measurements</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <mat-form-field>
                            <input type="text" [textMask]="{mask: decimalMask}" matInput name="width" [placeholder]="'Width' | localize"
                                [(ngModel)]="estimateInput.with" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input type="text" [textMask]="{mask: decimalMask}" matInput name="height" [placeholder]="'Height' | localize"
                                [(ngModel)]="estimateInput.height" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input type="text" [textMask]="{mask: decimalMask}" matInput name="length" [placeholder]="'Length' | localize"
                                [(ngModel)]="estimateInput.length" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input type="text" [textMask]="{mask: decimalMask}" matInput name="numberOfShingles"
                                [placeholder]="'Number of shingles' | localize" [(ngModel)]="estimateInput.noOfShingles" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <span for="color" style=" float: left; padding-top: 16px; margin-right: 5px; color:#7c7c7c;">Color</span>
                        <input class="form-control" style="width:35px; float:left; margin-top: 4px;" [(colorPicker)]="color"
                            [style.background]="color" id="color" (colorPickerChange)="colorChanged($event)" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Upload images</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="inline-block" style="text-align: center;">
                        <div style="border: dotted #028af4;" ngfDrop multiple="1" selectable="1" [(validDrag)]="validComboDrag"
                            [(files)]="files" accept="image/*" [maxSize]="maxSize" [(lastInvalids)]="lastInvalids"
                            [(dragFiles)]="dragFiles" class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                            [class.valid-drag]="validComboDrag" (filesChange)="fileChange()" [fileDropDisabled]="fileDropDisabled">
                            <i style="font-size:30px" class="fa fa-paperclip" aria-hidden="true"></i><br>
                            <h3>Add file or drop here</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="overflow-x:auto">
                    <table class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <!-- <th>Type</th> -->
                                <th>Size</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="_id">
                            <tr *ngFor="let item of images;let i=index">
                                <td>

                                    <img src="{{item.src}}" style="width: 100px; height:100px; border-radius: 5%;" alt="{{item.fileName}}"
                                        (click)="openLightBox(i)">
                                </td>
                                <td><strong>{{ item.fileName }}</strong></td>
                                <td nowrap>
                                    {{ item.size | number:'.2' }} MB
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteWhenEdit(i, item.id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!_id">
                            <tr *ngFor="let item of files;let i=index">
                                <td>
                                    <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                                        <div class="previewIcon" [ngfBackground]="item"></div>
                                    </div>
                                    <!-- <img src="{{item.src}}" style="width: 100px; height:100px;" alt="{{item.fileName}}"> -->
                                </td>
                                <td><strong>{{ item.name }}</strong></td>
                                <!-- <td nowrap>
                                  {{ item.type }}
                                </td> -->
                                <td nowrap>
                                    {{ item.size/1024/1024 | number:'.2' }} MB
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="files.splice(i,1)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Important note</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <mat-form-field>
                            <textarea matInput name="note" [placeholder]="'Note' | localize" [(ngModel)]="estimateInput.importantNote"
                                maxlength="500"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">Invoice</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input type="text" [textMask]="{mask: decimalMask}" matInput name="workHour" [placeholder]="'Work hours' | localize"
                                [(ngModel)]="estimateInput.workHours" (ngModelChange)="Calculate()" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input type="text" [textMask]="{mask: decimalMask}" matInput name="rate" [placeholder]="'Rate (USD/ hour)' | localize"
                                [(ngModel)]="estimateInput.rate" (ngModelChange)="Calculate()" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input disabled type="text" [textMask]="{mask: decimalMask}" matInput name="totalAmount"
                                [placeholder]="'Total amount ($)' | localize" [(ngModel)]="estimateInput.totalAmount"
                                style="color:black" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!createEstimateModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>