<form autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "Create Estimate" | localize }}</h1>
    <mat-dialog-content style="width:700px;height:800px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text" class="form-control" id="mobile">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="addressLine1">Address line 1</label>
                    <input type="text" class="form-control" id="addressLine1">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="addressLine2">Address line 2</label>
                    <input type="text" class="form-control" id="addressLine2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" id="state">
                      <option>-Status-</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="code">Code</label>
                    <input type="text" class="form-control" id="code">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Measurements</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="width">Width</label>
                            <input type="text" class="form-control" id="width">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="height">Height</label>
                            <input type="text" class="form-control" id="height">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="length">Length</label>
                            <input type="text" class="form-control" id="length">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="shingles">Number of shingles</label>
                            <input type="text" class="form-control" id="shingles">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input class="form-control" [(colorPicker)]="color"
                                [style.background]="color" id="color" (colorPickerChange)="colorChanged($event)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Upload images</div>
            <div class="panel-body">
                <div class="col-md-3">
                    <div class="inline-block">
                        <div
                          ngfDrop
                          multiple         = "1"
                          selectable       = "1"
                          [(validDrag)]    = "validComboDrag"
                          [(files)]        = "files"
                          accept           = "image/*"
                          [maxSize]        = "maxSize"
                          [(lastInvalids)] = "lastInvalids"
                          [(dragFiles)]    = "dragFiles"
                          class            = "well my-drop-zone"
                          [class.invalid-drag] = "validComboDrag===false"
                          [class.valid-drag]   = "validComboDrag"
                          (filesChange) = "lastFileAt=getDate()"
                          [fileDropDisabled] = "fileDropDisabled"
                        >
                        <i class="fa fa-paperclip" aria-hidden="true"></i><br>
                        Add file or drop here
                        </div>
                      </div>
                </div>
                <div class="col-md-9">
                    <div style="margin-bottom: 20px">
                        <table class="table">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Name</th>
                                <!-- <th>Type</th> -->
                                <th>Size</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of files;let i=index">
                                <td>
                                  <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                                    <div class="previewIcon" [ngfBackground]="item"></div>
                                  </div>
                                </td>
                                <td><strong>{{ item.name }}</strong></td>
                                <!-- <td nowrap>
                                  {{ item.type }}
                                </td> -->
                                <td nowrap>
                                  {{ item.size/1024/1024 | number:'.2' }} MB
                                </td>
                                <td nowrap>
                                  <button type="button"
                                    class="btn btn-danger btn-xs"
                                    (click)="files.splice(i,1)"
                                  >
                                    <span class="glyphicon glyphicon-trash"></span>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="note">Important note</label>
                <textarea class="form-control" id="note" rows="3"></textarea>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Invoice</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="workHours">Work hours</label>
                            <input type="text" class="form-control" id="workHours">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="rate">Rate (USD/ hour)</label>
                            <input type="text" class="form-control" id="rate">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="amount">Total amount ($)</label>
                            <input type="text" class="form-control" id="amount">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
        {{ "Cancel" | localize }}
      </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!createUserModal.form.valid || saving">
        {{ "Save" | localize }}
      </button>
    </div>
</form>