button {
    margin-left: 5px;
}

div>input {
    border: solid 1px #ccc5c5;
    border-radius: 4px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    padding-right: 15px;
}

.mt-28 {
    margin-top: -28px;
    padding-right: 28px;
}