button {
    margin-left: 5px;
}

div>input {
    border: solid 1px #ccc5c5;
    border-radius: 4px;
}

.ml-15 {
    margin-left: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.m-28 {
    margin-top: -28px;
    padding-right: 28px;
}

.pr-10 {
    padding-right: 10px;
    right: 10px !important;
}

@media only screen and (max-width: 900px) {
    .pr-15 {
        padding-left: 15px;
    }
    .ml-15 {
        margin-right: 15px;
    }
    .m-28 {
        margin-top: 0px;
        padding-right: 16px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .fixbutton {
        position: static;
        padding-top: 65px;
    }
    .mt-50 {
        margin-top: -50px !important;
    }
    .mt-20 {
        position: static;
        margin-top: 20px !important;
    }
    /* .btn_add {
        right: 160px;
        top: -36px;
    } */
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
    .fixbutton {
        position: static;
        padding-top: 65px;
    }
    .mt-50 {
        margin-top: -50px !important;
    }
    .mt-20 {
        position: static;
        margin-top: 20px !important;
    }
    .btn_add {
        right: 160px;
        top: -36px;
    }
}

.header {
    background-color: #f5f5f5;
}

.mt-6 {
    margin-top: -6px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td::after {
        /* Now like a table header */
        position: relative;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Actions";
        /* padding-right: 100px; */
        width: 70%;
        /* margin-left: 100px; */
    }
    td:nth-of-type(2):before {
        content: "First Name111";
        padding-right: 100px;
    }
    td:nth-of-type(3):before {
        content: "Last Name";
    }
    td:nth-of-type(4):before {
        content: "Phone";
    }
    td:nth-of-type(5):before {
        content: "Address";
    }
    td:nth-of-type(6):before {
        content: "Total Amount";
    }
    .wtf {
        position: absolute;
        left: 30%;
        top: 15px;
    }
    .wtf1 {
        position: absolute;
        left: 27%;
        top: 15px;
    }
}