button {
    margin-left: 5px;
}

div>input {
    border: solid 1px #ccc5c5;
    border-radius: 4px;
}

.ml-15 {
    margin-left: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.m-28 {
    margin-top: -28px;
    padding-right: 28px;
}

.pr-10 {
    padding-right: 10px;
    right: 10px !important;
}

@media only screen and (max-width: 900px) {
    .pr-15 {
        padding-left: 15px;
    }
    .ml-15 {
        margin-right: 15px;
    }
    .m-28 {
        margin-top: 0px;
        padding-right: 16px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .fixbutton {
        position: static;
        padding-top: 65px;
    }
    .mt-50 {
        margin-top: -50px !important;
    }
    .mt-20 {
        position: static;
        margin-top: 20px !important;
    }
    /* .btn_add {
        right: 160px;
        top: -36px;
    } */
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
    .fixbutton {
        position: static;
        padding-top: 65px;
    }
    .mt-50 {
        margin-top: -50px !important;
    }
    .mt-20 {
        position: static;
        margin-top: 20px !important;
    }
    .btn_add {
        right: 160px;
        top: -36px;
    }
}

.header {
    background-color: #f5f5f5;
}

.mt-6 {
    margin-top: -6px;
}